<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PDCKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA20511A1D003E9200A81DD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA2051331D003E9200A81DD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA20513E1D003E9200A81DD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
